{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block content %}
    {% for todo in object_list %}
    <div class="card">
        <div class="card-header"></div>
            <span class="text-muted">Вы {{ todo.author }} | {{ todo.date }}</span>
            <span class="font-weight-bold"><strong>{{ todo.title }}</strong></span>
    </div>
    <div class="'card-body">
          {{ todo.body }}
    </div>
    <div class="card-footer text-center text-muted">
        <a href="{% url 'delete_todo' todo.pk %}">Удалить</a>
        <a href="{% url 'create_todo' todo.pk %}">Создать</a>
        <a href="{% url 'update_todo' todo.pk %}">Изменить</a>
    </div>

{% endfor %}
{% endblock content %}
